backend/keys/*
!backend/keys/.gitkeep
/backend/venv/*

stream/uploads

/backend/images/*

/backend/familiar_faces/*

*/__pycache__/
backend/api/__pycache__
backend/service/__pycache__

backend/user.txt


.env
node_modules/